#Data Types and Structures

1. What are data structures, and why are they important?

- Data structures are ways of organizing and storing data so they can be used efficiently.
They’re important because they:

  Enable efficient access, modification, and storage of data.

  Improve performance of algorithms.

  Provide flexibility in solving different types of problems (e.g., searching, sorting).

2. Difference between mutable and immutable data types with examples.

- Mutable: Can be changed after creation.
Example: list = [1, 2, 3]; list[0] = 5 → [5, 2, 3].

  Immutable: Cannot be changed once created.
  Example: string = "hello"; string[0] = 'H'  (error).

3. Differences between lists and tuples in Python.

- List: Mutable, slower, written as [ ].

   Tuple: Immutable, faster, written as ( ).

4. How dictionaries store data.

- Dictionaries store data in key–value pairs using a hash table internally.
Example:

  student = {"name": "Alice", "age": 20}

5. Why use a set instead of a list?

- Sets remove duplicates automatically.

  Faster membership checks (in) because they use hashing.

6. What is a string, and how is it different from a list?

- String: Sequence of characters,      immutable.

  List: Sequence of elements (any type), mutable.

7. How do tuples ensure data integrity?

- Since tuples are immutable, once data is set, it cannot be changed — ensuring the data remains intact.

8. What is a hash table, and how does it relate to dictionaries?

- Hash table: Stores data using hash values of keys for quick access.

  Dictionaries in Python are implemented as hash tables.

9. Can lists contain different data types?

- Yes. Example:

   mixed = [1, "hello", 3.14, True]

10. Why are strings immutable?

- Strings are immutable to:

  Ensure memory efficiency (string interning).

  Improve security (cannot be altered by reference).

11. Advantages of dictionaries over lists.

- Faster lookups using keys (O(1)).

  More meaningful data organization with key–value pairs.

12. Describe a scenario where using a tuple would be preferable?
- A tuple is preferable over a list when you need to store a collection of items that should not be changed. This property is called immutability.

  A perfect scenario is storing a set of geographic coordinates.

 List (mutable)
 location_list = [28.6139, 77.2090]
 location_list[0] = 28.7041  # Allowed

 Tuple (immutable)
 location_tuple = (28.6139, 77.2090)
 location_tuple[0] = 28.7041  #  TypeError

13. How do sets handle duplicate values in Python?

- Sets are collections of unique elements. When you create a set or add elements to it, Python automatically discards any duplicate values. The set only stores one instance of each element.

- Creating a set from a list with duplicates
numbers_list = [10, 20, 30, 20, 10, 40]
unique_numbers = set(numbers_list)

   print(unique_numbers)
  Output: {40, 10, 20, 30} (order may vary in older Python versions)

14. How does the “in” keyword work differently for lists and dictionaries in python?
- In Python, the in keyword is used to test membership, but its behavior differs for lists and dictionaries:

  Lists: in checks whether a value exists among the list’s elements.

  fruits = ["apple", "banana", "cherry"]
   print("apple" in fruits)   # True

   Dictionaries: in checks only for the presence of keys, not values.

   student = {"name": "Alice", "age": 21}
  print("name" in student)        # True
  print("Alice" in student)       # False
  print("Alice" in student.values())  # True

15. Can you modify the elements of a tuple? Explain why or why not.
Answer:

- No, you cannot modify the elements of a tuple in Python because tuples are immutable. Once a tuple is created, its contents cannot be changed, added, or removed. This immutability ensures data integrity and makes tuples useful for storing fixed collections such as coordinates, dates, or configuration values.

 Example:

 t = (10, 20, 30)
 t[0] = 50   # TypeError: 'tuple' object does not support item assignment

What is a nested dictionary, and give an example of its use case?
Answer:

- A nested dictionary is a dictionary inside another dictionary. It allows storing data in a hierarchical or structured way, similar to JSON objects. Nested dictionaries are useful when representing complex data with multiple attributes.

- Example (Use Case – Student Records):

  students = {
    "Alice": {"age": 20, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"}

  print(students["Alice"]["grade"])  # Output: A

17. Describe the time complexity of accessing elements in a dictionary.
Answer:

- In Python, dictionaries are implemented using hash tables, which allow very fast lookups. Accessing an element by key generally takes O(1) time on average (constant time), because the key is hashed to find its location directly.

  However, in rare cases of hash collisions, performance may degrade to O(n), but Python’s hashing mechanism makes this uncommon.

  Example:

  student = {"name": "Alice", "age": 21}
  print(student["name"])   # Access in O(1)

18. In what situations are lists preferred over dictionaries?
Answer:

- Lists are preferred over dictionaries when:

 Order matters – lists maintain elements in a sequence and can be accessed by index.

 Duplicate values are allowed – unlike dictionary keys, list elements can repeat.

 Simple collections – when storing data without needing key–value pairs.

 Iterating in order – lists are better when you need to process items sequentially.

 Example:

 fruits = ["apple", "banana", "apple", "cherry"]
 print(fruits[0])   # Access by index

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Answer:

- Traditionally, dictionaries in Python were considered unordered because they used a hash table to store data, and the order of keys was not guaranteed. This meant you could not rely on items being retrieved in the same order they were inserted.

  From Python 3.7+, dictionaries preserve insertion order as an implementation detail (and officially guaranteed from Python 3.8). However, they are still accessed by keys, not by index, so data retrieval is based on the key lookup, not position.

  Example:

 student = {"name": "Alice", "age": 21, "grade": "A"}
 print(student["age"])   # Retrieved by key, not by order

20. Difference between a list and a dictionary in terms of data retrieval?
- List: Elements are accessed by index. Retrieval requires knowing the position of the item, and searching for a value may take O(n) time.

  fruits = ["apple", "banana", "cherry"]
  print(fruits[1])  # Output: banana


  Dictionary: Elements are accessed by key. Retrieval is usually very fast, O(1) on average, because Python uses a hash table for keys.

  student = {"name": "Alice", "age": 21}
  print(student["name"])  # Output: Alice

Practical Questions

In [1]:
# Write a code to create a string with your name and print it.
name = "Nisita"
print(name)

Nisita

In [2]:
# Write a code to find the length of the string "Hello World".
print(len("Hello World"))

11

In [3]:
# Write a code to slice the first 3 characters from the string "Python Programming".
print("Python Programming"[:3])

Pyt

In [4]:
# Write a code to convert the string "hello" to uppercase.
print("hello".upper())

HELLO

In [5]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"
print("I like apple".replace("apple", "orange"))

I like orange

In [6]:
# Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
# Write a code to append the number 10 to the list [1, 2, 3, 4].
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [8]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [9]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [10]:
# Write a code to reverse the list [10, 20, 30, 40, 50].
lst3 = [10, 20, 30, 40, 50]
lst3.reverse()
print(lst3)

[50, 40, 30, 20, 10]

In [11]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [12]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t2 = ('red', 'green', 'blue', 'yellow')
print(t2[-2])

blue

In [14]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15)
t3 = (10, 20, 5, 15)
print(min(t3))

5

In [15]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
index_cat = animals.index("cat")
print("The index of 'cat' is:", index_cat)

The index of 'cat' is: 1

In [17]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "mango")
print("Is 'kiwi' in fruits?", "kiwi" in fruits)

Is 'kiwi' in fruits? False

In [18]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s1 = {'a', 'b', 'c'}
print(s1)

{'b', 'a', 'c'}

In [19]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s2 = {1, 2, 3, 4, 5}
s2.clear()
print(s2)

set()

In [20]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s3 = {1, 2, 3, 4}
s3.remove(4)
print(s3)

{1, 2, 3}

In [21]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [25]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection = set1.intersection(set2)
print("Intersection of", set1, "and", set2, "is:", intersection)

Intersection of {1, 2, 3} and {2, 3, 4} is: {2, 3}

In [26]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
student = {"name": "Alice", "age": 20, "city": "Paris"}
print(student)

{'name': 'Alice', 'age': 20, 'city': 'Paris'}

In [27]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [28]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person2 = {'name': 'Alice', 'age': 30}
print(person2["name"])

Alice

In [29]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person3["age"]
print(person3)

{'name': 'Bob', 'city': 'New York'}

In [30]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person4 = {'name': 'Alice', 'city': 'Paris'}
print("city" in person4)

True

In [31]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.
lst = [1, 2, 3]
tup = (4, 5, 6)
dct = {"name": "John", "age": 25}
print(lst, tup, dct)

[1, 2, 3] (4, 5, 6) {'name': 'John', 'age': 25}

In [33]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced)
import random
rand_list = [random.randint(1, 100) for _ in range(5)]
rand_list.sort()
print(rand_list)

[7, 7, 10, 78, 80]

In [34]:
# Write a code to create a list with strings and print the element at the third index.
str_list = ["apple", "banana", "cherry", "date"]
print(str_list[3])

date

In [35]:
# Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [36]:
# Write a code to convert a list of strings into a set.
list_strings = ["apple", "banana", "apple", "cherry"]
print(set(list_strings))

{'cherry', 'apple', 'banana'}